<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Survivor</title>
</head>
<body>
    <h1>Let's See if you survive the Titanic!</h1>
{% if form %}
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Check Results!</button>
    </form>
    {% else %}
    
    {% if result %}
    <h3>{{result}}</h3>
    {% endif %}
        
    <h1>Thank you</h1>
{% endif %}

</body>
</html>